*{
    font-family:"Poppins", sans-serif;
    
  }
.Dashboard{
    /*background-image: url(/src/Images/dashboard_bg.png);*/
    height: 100vh;
    /*background-repeat: no-repeat;
    background-size: 100% 100%;*/
    width:100%
}
.Nav, .Options, .CopyrightUnibeHome {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.loaded .Nav, .loaded .Options, .loaded .CopyrightUnibeHome {
  opacity: 1;
  z-index: 1;
}
.Nav {
  position: absolute;
  display: flex;
  justify-content: space-between; /* Use space-between to keep items on the ends */
  align-items: center;
  padding: 20px;
  padding-top: 20px;
  position: relative;
}

.logo {
  width: 300px; /* Adjust the width and height according to your logo */
  height: auto;
}
.Options {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  height: 75vh; 
  /* Adjust height if needed */
}

.optionsButton {
  background-color: #047D95; /* Green */
  border: none;
  color: white;
  padding: 80px 50px; /* Adjust padding as needed */
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  margin: 10px; /* Add margin for spacing */
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.optionsButton:hover {
  background-color: #124d59; /* Darker background color on hover */
}
.optionsButton + .optionsButton {
  
  margin-left: 100px; /* Adjust the margin between buttons */
}

.button1 {font-size: 50px;}
.button2 {font-size: 50px;}

.buttonBuscarPaciente{
  margin-right: 20px;
    background-color: #047D95; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 16px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonBuscarPaciente:hover {
  background-color: #124d59; /* Darker background color on hover */
}

.userGreetings {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.userGreetings {
  display: flex;
  align-items: center;
}

.userFamilyName {
  font-size: 25px;
  color: #047D95;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcomeText {
  color: black; /* Set the color for the "Welcome" text */
}

.SignOutDashboard {
  margin-left: 10px; /* Adjust the margin to reduce space */
}

.CopyrightUnibeHome {
  position:absolute;
  bottom:10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 12px;
  color: black; /* Adjust color as needed */
   /* Ensure it's above other content */
}

video{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: blur(6px);
  

}