/* endodoncia_dientes.css */
.EmergenciaMedicaSwitches {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
  }
  
  .FormSwitchLabel {
    margin-bottom: 0;
  }
  
  .FormSwitchContainer {
    
    display: flex;
    align-items: center;
  }
  