/* styles.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  td:nth-child(5) {
    max-width: 300px; /* Adjust the width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr:hover {
    background-color: #f5f5f5;
  }
  
  .PacientesodontopediatriaControlData{
    margin-left: 100px;
    margin-right: 100px;
  }

  .detallesPacientes {
    background-color: #047D95; /* Green */
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .detallesPacientes:hover {
    background-color: #124d59;
  }
  
  /* Additional info grid layout */
  .additional-info {
    background-color: #f9f9f9; /* Light grey background */
    padding: 20px; /* Some padding */
    margin-top: 10px; /* Some margin at the top */
    border: 1px solid #ddd; /* Light border */
    border-radius: 8px; /* Rounded corners */
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr)); /* Responsive columns */
    gap: 10px; /* Gap between items */
  }
  
  .attribute {
    margin: 0 0 10px 0; /* Margin for attribute containers */
    font-size: 14px; /* Font size for attributes */
    color: #333; /* Dark grey text */
  }
  