body, html {
  height: 100%;
  margin: 0;
}

.Pacientes {
  margin-left: 50px;
  margin-right: 50px;
}

.contenedorPacientes {
  overflow-x: auto; /* Ensure the table is scrollable on smaller screens */
}

.group-containers {
  
  margin-top: 10px; /* Some margin at the top */
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
  gap: 10px; /* Gap between items */
}
.above-group{
  padding-top: 10px;
  margin-top: 10px; 
  padding-bottom: 10px;/* Some margin at the top */
}

.atributoAlertaMedicaBuscaPacientes {
  margin: 0 0 10px 0; /* Margin for attribute containers */
  font-size: 14px; /* Font size for attributes */
  color: #333; /* Dark grey text */
  
   /* Ensures any long word breaks to the next line */
  white-space: normal;
  max-width:90%;
}
.informacionAdicional1 {
  background-color: #f9f9f9; /* Light grey background */
  padding: 20px; /* Some padding */
  margin-top: 10px; /* Some margin at the top */
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  
}

.hideRow {
  display: none;
}

.highlight {
  background-color: yellow;
}

.atributo {
  margin: 0 0 10px 0; /* Margin for attribute containers */
  font-size: 14px; /* Font size for attributes */
  color: #333; /* Dark grey text */
}

.search-bar {
  width: 50%;
  padding: 5px;
  margin-top: 10px;
  transform: translateX(50%);
  margin-bottom: 20px;
  border: 2px solid #047d95; 
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}


.search-bar:focus {
  border-color: #124d59;
}

.CopyrightUnibeBuscar {
  position: relative;
  margin-top: 4%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 12px;
  color: black; /* Adjust color as needed */
}
