.protesis-submenu{
    width: 10rem;
    position: absolute;
    list-style: none;
    text-align: start;
    left:760px;
    top:104px;
}

.protesis-submenu li{
    background: #047D95;
    cursor: pointer;
}

.protesis-submenu li a:hover{
    background: #124d59;
}

.protesis-submenu.clicked{
    display: none;
}

.submenu-item{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}

