.navbar{
    height: 15vh;
    background-color: #181919;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-left: 100px;
}

.nav-item {
    display: flex;
    align-items:center;
    height: 14vh;
    width:100%;
    margin-right: 30px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 15px 16px;
    border-radius: 5px;
}

.nav-item a:hover {

    background: #047D95;
}

.buttonDashboard {
    margin-left: 40px;
    background-color: #047D95; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 16px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  