.navbar {
    height: 15vh;
    background-color: #181919;
    color: white;
    display: flex;
    justify-content: space-between; /* Adjusted for space between items */
    align-items: center;
    width: 100%;
  }

.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content: flex-end;
    

}

.nav-item {
    display: flex;
    align-items:center;
    height: 14vh;
    width:100%;
    justify-content: center;

}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 15px 16px;
    border-radius: 5px;
}

.nav-item a:hover {

    background: #047D95;
}

.buttonDashboard {
    margin-right: 20px;
    background-color: #047D95; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 16px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .buttonDashboard:hover {
    background-color: #124d59; /* Darker background color on hover */
  }

  .nav-item-dashboard {
    display: flex;
    align-items:center;
    height: 14vh;
    width:100%;
    justify-content: center;

}
  .nav-item-dashboard a {
    text-decoration: none;
    color: #047D95;
    font-size: 1.1rem;
    padding: 15px 16px;
    border-radius: 5px;
    font-weight: bold;
}

.nav-item-dashboard a:hover {

    background: white;
}

